*{
    margin: 0;
    padding: 0;
}
header{
    height: 40px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
}
.navegacion{
    margin-left: 300px;
}
.navegacion ul li{
    list-style: none;
    margin-right: 20px;
}
.titulo_principal{
    
}